<div class="profile-container">
  <h2>Mi Perfil</h2>

  <div *ngIf="loading">Cargando...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div *ngIf="user">
    <p><strong>ID:</strong> {{ user.userId }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p *ngIf="user.name"><strong>Nombre:</strong> {{ user.name }}</p>
    <div *ngIf="user.picture">
      <img [src]="user.picture" alt="Foto de perfil" width="100" />
    </div>

    <button (click)="logout()">Cerrar sesión</button>
  </div>
</div>
